common --enable_platform_specific_config

build --cxxopt=-std=c++20
build:macos --cxxopt=-mmacosx-version-min=10.14

# Define a "shortcut" for AddressSanitizer
build:asan --copt=-fsanitize=address
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address
# Ensures the leak report prints to the console even if the test passes
test:asan --test_output=all